<!DOCTYPE html>
<html>
<head>
    <title>Docker Status</title>
    <script src="http://192.168.100.15:8090/resource/jquery.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 15px;
            text-align: left;
        }
        .running {
            color: green;
        }
        .stopping {
            color: red;
        }
    </style>
</head>
<body>
    <table id="dockerStatus">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Path</th>
            <th>Action</th>
        </tr>
    </table>

    <script>
        $(document).ready(function() {
            loadTable();
        });

        function loadTable() {
            $('#dockerStatus').find('tr:gt(0)').remove();
            $.ajax({
                url: '{{ .url }}/api/docker/getDockerComposePs',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var result = data.data.result;
                    for (var i = 0; i < result.length; i++) {
                        var statusClass = result[i].Status === 'running' ? 'running' : 'stopping';
                        var actionButton = result[i].Status === 'running' ?
                            '<button onclick="performAction(\'/down\', \'' + result[i].Name + '\')">Stop</button>' :
                            '<button onclick="performAction(\'/up\', \'' + result[i].Name + '\')">Start</button>';
                        var row = $('<tr><td>' + result[i].Name + '</td><td class="' + statusClass + '">' + result[i].Status + '</td><td>' + result[i].Path + '</td><td>' + actionButton + '</td></tr>');
                        $('#dockerStatus').append(row);
                    }
                },
                error: function(error) {
                    console.log('Error: ' + error);
                }
            });
        }

        function performAction(endpoint, name) {
            $.ajax({
                url: '{{ .url }}/api/docker' + endpoint,
                type: 'POST',
                data: JSON.stringify({name: name}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    alert(JSON.stringify(data));
                    loadTable();
                },
                error: function(error) {
                    console.log('Error: ' + error);
                    alert('Error: ' + JSON.stringify(error));
                }
            });
        }
    </script>
</body>
</html>
